extends ../layout/layout 

block content 
    h4 Change title of video
    form(method="POST") 
        input(name="title", type="text", placeholder="Video title", value=video.title, required)
        input(type="text", name="description", placeholder="Description", value=video.description, required)
        input(type="text", name="hashtags", placeholder="Hashtag", value=video.hashtags.join(), required)
        input.submitBtn(type="submit", value="Save ")