mixin comment(comment)
    div.video__comment-container
        span.video__comment-avater
        //-- comment owner 를 이용해서 user 를 find 하고 avatar 불러오기 
        span.video__comment-username
        //-- 동일한 방법으로 username 가져오기
        span.video__comment-text 
        //-- comment DB 에서 