mixin video(video)
    div 
        h3
            a(href=`/video/${video.id}`)=video.title
        p=video.description
        small=video.createdAt            
        small=video.hashtags
        hr