extends layout.pug
include mixins/mixin

block content 
    header 
            a(href="/video/upload") Upload
    h3 Home page!!!
    each videoInfo in videos 
        +video(videoInfo)
    else 
        li 동영상을 찾지 못했어요.