extends layout.pug
include mixins/mixin

block content
    div
        p=video.description
        small=video.createdAt
        small=video.hashtags
    div
        a(href=`${video.id}/edit`) Edit Video &rarr;
            
